<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Page Title -->
    <title>{% block title %} {% endblock %}</title>

    <!-- Custom CSS -->
    <style>
      /* Custom style for search form positioning */
      .search-form-gap {
        margin-left: 600px;
      }

      /* Block for additional CSS from child templates */
      {% block css %} {% endblock %}
    </style>
  </head>

  <body>
    <!-- Load static files -->
    {% load static %}

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/">AuraBazaar</a>

        <!-- Toggle Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Home Link -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/shop">Home</a>
            </li>
            <!-- About Us Link -->
            <li class="nav-item">
              <a class="nav-link" href="/shop/about">About Us</a>
            </li>
            <!-- Contact Us Link -->
            <li class="nav-item">
              <a class="nav-link" href="/shop/contact">Contact Us</a>
            </li>
            <!-- Order Tracker Link -->
            <li class="nav-item">
              <a class="nav-link me-3" href="/shop/tracker">Order Tracker</a>
            </li>
          </ul>

          <!-- Search Form and Cart Button -->
          <div class="d-flex">
            <!-- Search Form -->
            <form method="get" action="/shop/search/" class="d-flex search-form-gap" role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
              <button class="btn btn-outline-success mx-2" type="submit">Search</button>
            </form>

            <!-- Cart Button -->
            <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content=" ">
              Cart(<span id="cart">0</span>)
            </button>
          </div>
        </div>
      </div>
    </nav>

    <!-- Main Content Block -->
    {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- JavaScript Block for Additional Scripts -->
    <script>
      {% block js %} {% endblock %}
    </script>
  </body>
</html>